<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        <title>Rochambo Suckas</title>
        <meta name="description" content="Fun game of Rochambo">
  

		  <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

		<style type="text/css">
				.container div {max-width:550px; margin-top:25px; margin-bottom:25px;}
				.center_me {margin:auto;}
				.img_full {width:100%;}
				.bg {background:#f2f2f2;}
				.choice_list{ width:410px; padding:0; margin:0 auto;}
				.choice_list li {list-style: none; display:inline-block; margin-right:10px;}
				.choice_list li:last-child{margin-right:0;}
				.choice_list li a{font-size:25px; width:127px;}
		</style>

    </head>
    <body>
<div class="container bg">
	<h1 class="text-center">Hey, you wanna play Rochambeau?</h1>

	<div class="center_me">
		<img class="img_full" src="https://thetvseriesguy.files.wordpress.com/2012/06/cartman.jpg" />
	</div>


	<div class="center_me">
		<ul class="choice_list">
				<li>
						<a class="btn btn-primary" href='/the_game?my_play=rock&comp_play=<%= @computer_response %>'>Rock!</a>
				</li>
				<li>
						<a class="btn btn-primary" href='/the_game?my_play=paper&comp_play=<%= @computer_response %>'>Paper!</a>
				</li>
				<li>
						<a class="btn btn-primary" href='/the_game?my_play=scissors&comp_play=<%= @computer_response %>'>Scissors!</a>
				</li>
		</ul>
	</div>
	<div class="center-text">
		Cartman will choose: <%= @computer_response %>
	</div>
</div>

    </body>
</html>
