<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        <title>Rochambo Suckas</title>
        <meta name="description" content="Fun game of Rochambo">
  

		  <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


		<style type="text/css">
				.container div {max-width:550px; margin-top:25px; margin-bottom:25px;}
				.center_me {margin:auto;}
				.bg {background:#f2f2f2;}
				.img_full {width:100%;}

				

		</style>

    </head>
    <body>
			<div class="container bg">
				<h1 class="text-center">You Won!</h1>
				<div class="center_me">
					<img class="img_full" src="http://media.tumblr.com/4aa3e014197ecbc083a6b9fb61869df7/tumblr_inline_nj3s0csBog1t0bq1s.gif" />
				</div>
				<div class="center_me text-center" >
					<a class="btn btn-danger" href="/"><span class="glyphicon glyphicon-menu-left"></span> Play Again</a>
				</div>

    </body>
</html>
